@font-face{
	font-family: "LeagueSpartan";
	src: url('fonts/LeagueSpartan-Regular.ttf') format('truetype');	
}

body{
	background-color: #141414;
	font-family: "LeagueSpartan";
}

.canvas{
	background-color: #141414;
}

.Node-border{
	width: 110px;
	height: 110px;
	background-color: rgba(244, 114, 1, 0.1);
	border: 1px dashed #F47201;
	border-radius: 26px;
	display: flex;
  	justify-content: center; 
  	align-items: center;
}

.Node{
	width: 84px;
	height: 84px;
	background-color: rgba(244, 114, 1, 1);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.router-node-border{
	background-color: rgba(1, 237, 95, 0.1);
	border: 1px dashed rgba(1, 237, 95, 1);
}
.router-node{
	background-color: rgba(1, 237, 95, 1);
}

.left-nav-bar{
	width: 373px;
	display: flex;
	flex-direction: column;
	padding: 32px;
	background-color: rgba(21, 21, 21, 1);
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.25);
	height: 100%;
	position: fixed; 
    z-index: 1000;
	transition: width 0.3s ease;
}

.left-nav-bar.collapsed {
  width: 44px; 
  padding: 0; 
}

.close-open-left-nav-bar{
	width: 100%;
	display: flex;
	justify-content: space-between;	
}

.close-open-left-nav-bar svg{
    right: 0;       
	top: 0;
}

.close-open-left-nav-bar.right {
  justify-content: flex-end; 
  padding-right: 10px; 
}

.close-open-left-nav-bar.center {
  justify-content: center; 
}

.search-left-nav-bar{
	margin-top: 20px;
	height: 52px;
	width: 100%;
	background-color: rgba(26, 26, 26, 1);
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 13px;
	align-items: center;
}

.search-left-nav-bar-text{
	border: 0;
	width: 80%;
	color: rgb(255, 255, 255);
	margin-left: 10px;
	background-color: rgba(26, 26, 26, 1);
	font-size: 18px;
}

.filter-left-nav-bar{
	margin-top: 20px;
	height: 704px;
	border-radius: 13px;
	background-color: rgba(26, 26, 26, 1);
}

.button-scan-left-nav-bar{
	background: linear-gradient(
    90deg, 
    rgba(0, 185, 244, 1), 
    rgba(0, 244, 73, 1)   
  	)	;
	margin-top: 20px;
	height: 71px;
	display: flex;
	justify-content: center;
	font-size: 24px;
	border-radius: 13px;
	font-family: "LeagueSpartan";
	transform: translateY(-10px);
}

.system-monitor-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
}

.system-loading-loges-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.loading-system-content, .loges-content, .system-processes-content{
	background-color: rgba(21, 21, 21, 1);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.loading-system-content{
	width: 880px;
	height: 430px;
	overflow-y: auto;
}

.loges-content{
	width: 880px;
	height: 430px;
	overflow-y: auto;
}

.system-processes-content{
	width: 880px;
	height: 880px;
	overflow-y: auto;
	margin: 10px;
}

.system-processes-table{
	display: flex;
	flex-direction: column;
}

.system-processes-table-title{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.system-processes-table-title p {
  	flex: 1; 
  	color: #FFFFFF;
  	border-right: 1px solid gray; 
}
.system-processes-table-title p:last-child {
  	border-right: none;
}

.system-process-row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: #FFFFFF;
}

.system-process-row p{
	width: 25%;
	display: flex;
	text-align: center;
	align-items: center;
	font-size: 14px;
}

.log-type {
      width: 100px;
      height: 100px;
      border: 10px solid #B22222; /* Толщина обводки 10px */
      border-radius: 50%;
      background-color: transparent; /* Полость внутри */
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
	  color: #B22222;
    }

.system-log-row{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	border: 1px solid #4a4a4a;
}

.log-web-hostname{
	font-size: 22px;
	margin-top: 10px;
}

.log-content{
	color: white;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.log-metadata{
	display: flex;
	flex-direction: row;
}

.log-column{
	display: flex;
	flex-direction: column;
	margin-right: 20px
}

.work-indicator{
	position: absolute;
  	top: 13px;   
  	right: 13px;
 	width: 14px;
  	height: 14px;
  	background-color: green;
  	border-radius: 50%;
}

.not-work-indicator{
	position: absolute;
  	top: 13px;   
  	right: 13px;
 	width: 14px;
  	height: 14px;
  	background-color: #3d3d3d;
  	border-radius: 50%;
}


.external-effect{
	position: absolute;
	top: -12px;
	left: -12px;
	right: -12px;
	bottom: -15px;
	/* backgroundColor: `pc.color}23; */
	/* border: 2px dotted ${pc.color}; */
	border-radius: 29px;
	z-index: 1;
}

.device-menu{
	position: absolute;
	z-index:1000;
	width: 345px;
	background-color: #141414;
	border-radius: 16px;
	border: 1px solid #242424;
	display: flex;
	flex-direction: column
}

.device-menu-p{
	color: #FFFFFF;
	height: 61px;
	width: 100%;
	padding: 22px 24px;
	margin: 0;
	box-sizing: border-box;
	cursor: pointer;
}

.device-menu-p:not(:last-child) {
  	border-bottom: 1px solid #242424;
}

.device-menu-p:hover{
	color: #00B9F4;
}

.device-menu-p-not-active{
	color: #363636;
	height: 61px;
	width: 100%;
	padding: 22px 24px;
	margin: 0;
	box-sizing: border-box;
}

.device-menu-p-not-active:not(:last-child){
	border-bottom: 1px solid #242424;
}

.router-prop-block{
	width: 735px;
	height: 735px;
	background-color: #141414;
	border: 1px solid #7B7B7B;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	padding-left: 42px;
	padding-right: 42px;
	padding-top: 53px;
	padding-bottom: 53px;
	box-sizing: border-box;
	align-items: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  	position: relative;
	overflow-y: auto;
}

.router-prop-block-title{
	color: white;
	font-size: 32px;
	margin: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный черный фон */
  display: flex;
  align-items: center;   /* центрирование по вертикали */
  justify-content: center; /* центрирование по горизонтали */
  z-index: 1000;
}

.router-prop-fiels{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 36px;
}

.router-prop-f-title{
	font-size: 16px;
	color: #9b9b9b;
	margin: 0;
}
.router-prop-f-value{
	width: 100%;
	height: 57px;
	border-radius: 16px;
	background-color: #191919;
	padding-right: 23px;
	padding-left: 23px;
	box-sizing: border-box;
	color: #9b9b9b;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 0;
	display: flex;
	align-items: center; /* Центрирование по вертикали */
}

.router-prop-button-group{
	margin-top: 35px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 70%;
}

.router-prop-button{
	border-radius: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: transparent;
	color: #9A9A9A;
	font-size: 24px;
	border: 1px solid white;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.router-prop-button:hover{
	background-color: white;
	color: #141414;
}

.router-prop-f-v-color{
	width: 24px;
	height: 24px;
	border-radius: 3px;
	margin-right: 10px;
}

.device-group-container {
  width: 241px;
  position: fixed;
  right: 20px;   /* расстояние от правого края экрана */
  bottom: 20px;  /* расстояние от нижнего края экрана */
  /* Дополнительные стили */
  background-color: #141414;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 25px;
  padding-left: 25px;
  border: 1px solid #FFFFFF;
  border-radius: 16px;

}

.d-group-color{
	border-radius: 20px;
	width: 15px;
	height: 15px;
	margin-right: 3px;
}

.device-group-block{
	display: flex;
	flex-direction: row;
	color: white;
	font-size: 16px;
	align-items: center;
	justify-content: space-between;
}

.d-group-hostname{
	width: 60px;
	position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.d-group-groupname{
	width: 60px;
	position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.trafic-packets-block{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
}

.trafic-packet{
	display: flex;
	flex-direction: row;
	color: white;
	width: 100%;
	background-color: #141414;
	margin:0;
	padding: 0;
}

.trafic-packet p{
	color: white;
	height: 45px;

	border: 1px solid #3D3D3D;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.trafic-packet-time{
	width: 250px;
}


.trafic-packet-source{
	width: 310px;
}

.trafic-packet-destination{
	width: 310px;
}

.trafic-packet-protocol{
	width: 288px;
}

.trafic-packet-length{
	width: 190px;
}

.trafic-packet-info{
	width: 360px;
}

.trafic-container{
	display: flex;
	width: 100%;
	flex-direction: column
}

.trafic-actives{
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	padding: 30px 77px;
}

.trafic-active-button{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 70px;
	cursor: pointer;
}

.trafic-active-button svg{
	margin-right: 6px;
}

.trafic-active-button-p{
	font-size: 24px;
	color: white;
	margin: 0;
}

.trafic-active-button:hover .trafic-active-button-p{
	color: #00B9F4;
}

.trafic-ip-filter-block{
	display: flex;
	flex-direction: column;
}

.ip-filter-title{
	color: white;
	font-size: 24px;
}

.ip-block{
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #3D3D3D;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	color: white;
}

.ip-block p{
	margin: 0;
	margin-top: 5px;
}

.ip-filter-list{
	display: flex;
	flex-wrap: wrap;       /* разрешаем перенос элементов на новую строку */
    gap: 20px;
}

.ip-block:hover{
	transform: scale(1.2);
}

.ip-all{
	height: 50px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	color: #141414;
	background-color: white;
}

.ip-all:hover{
	transform: scale(1.2);
}

.ip-not-active{
	height: 50px;
	border: 1px solid #3D3D3D;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	color: white;
	background-color: #141414;
}

.ip-not-active:hover{
	color: white;
	border: 1px solid #3D3D3D;
	background-color: #141414;
}

.warning{
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translate(-50%, -50%);
	
	background-color: #8B0000; /* тёмно-красный */
	color: white;              /* белый текст */
	
	padding: 1.2rem 2rem;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	font-size: 1.1rem;
	font-weight: bold;
	text-align: center;
}	

.directory-content{
	color: white;
	font-family: "LeagueSpartan";

}

.dashboard-content{
	margin: 0 auto;
	width: 1300px;
}

.dashboard-network{
	display: flex;
	justify-content: center; 
	align-items: center;
	flex-direction: column;
}

.barchart-network-config{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: solid 1px #555555;
}

.network-config-item-label{
	color: white;
	font-size: 20px;
	margin-right: 5px;
}

.network-config-item-select{
	background-color: #141414;
	color: white;
	border: 0;
	border-bottom: 1px solid #555555;
}
